

<div class="container" style="background-color: rgb(202, 215, 243);">
	<a routerLink="/" class="fa fa-home"></a>
	<!-- Default form login -->
	<form class="text-center border border-light p-5" [formGroup]="phonebookForm">
		<p class="h4 mb-4">New Phonebook Entry</p>

		<input type="text" class="form-control mb-4" formControlName="name" placeholder="Name">
		<input type="number" class="form-control mb-4" formControlName="phone" placeholder="Phone">
		<input type="email" class="form-control mb-4" formControlName="email" placeholder="Email">
	
		<!-- Sign in button -->
		<!-- <button mdbBtn style="background-color: rgb(150, 200, 247);" block="true" class="my-4" type="submit" (click)="submitPhoneBootEntry()" (click)="route()" >Submit</button> -->
		<button style="background-color: rgb(150, 200, 247);" type="submit" (click)="submitPhoneBootEntry()" (click)="route()" >submit</button>
	</form>
  <!-- Default form login -->

  </div>


<div>
	<footer class="bg-light text-center text-lg-start">
		<!-- Copyright -->
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		  © 
		  <a class="text-dark" href="https://mdbootstrap.com/">Anathi</a>
		</div>
		<!-- Copyright -->
	  </footer>
</div>
