<div class="container" style="background-color: rgb(202, 215, 243);">

    <!-- Default form login -->
    <form class="text-center border border-light p-5" [formGroup]="phonebookForm">
        <p class="h4 mb-4" style="color: teal;">New Phonebook Entry</p>

        <input type="text" class="form-control mb-4" formControlName="name" placeholder="Name">
        <input type="number" class="form-control mb-4" formControlName="phone" placeholder="Phone">
        <input type="email" class="form-control mb-4" formControlName="email" placeholder="Email">

        <!-- Sign in button -->
        <!-- <button mdbBtn style="background-color: rgb(150, 200, 247);" block="true" class="my-4" type="submit" (click)="submitPhoneBootEntry()" (click)="route()" >Submit</button> -->
        <button style="background-color: teal;" type="submit" (click)="submitPhoneBootEntry()" (click)="route()">submit</button>
    </form>
    <!-- Default form login -->

</div>