<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-light">
    <div class="container">
        <a routerLink="/phonebook-entry" class="fa fa-list" style="color: teal;"></a>
        <a routerLink="/" class="fa fa-home" style="color: teal;"></a>
    </div>
</nav>



<body>


    <router-outlet></router-outlet>

</body>

<div>
    <footer class="bg-primary text-white text-center text-lg-start fixed-bottom">
        <div class="container">
            <div class="text-center">
                ©
                <a style="color: rgb(240, 247, 247);" href="/about">Anathi</a>
            </div>
        </div>
    </footer>
</div>