<html>




<div class="jumbotron jum">
    <div class="wrapper">

        <div class="container2">

        </div>

        <h3 class="text-center" style="color: teal;">Phonebook</h3>

        <div>
            <div class="card" style="background-color: rgb(247, 206, 187);">
                <div class="card-body" *ngFor="let list of phoneBookList">

                    <h5 class="card-header"><i class="fa fa-user" style="color: teal;">:</i>{{list.name}}</h5>



                    <h5 class="card-header"><i class="fa fa-envelope" style="color: teal;">:</i>{{list.email}}</h5>


                    <h5 class="card-header"> <i class="fa fa-phone" style="color: teal;">: </i> {{list.phone}}</h5>

                    <button type="button" class="fa fa-trash" style="color: teal;" (click)="contactToDelete(list.id)"></button>
                    <button type="button" class="fa fa-edit" style="color: teal;"></button>
                </div>

            </div>
        </div>
    </div>
</div>


</html>