<html>

<div class="text-center p-3" style="background-color: rgb(202, 215, 243);">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
            <a routerLink="/phonebook-entry" class="fa fa-list"></a>
            <a routerLink="/" class="fa fa-home"></a>

     </nav>  
</div>


    <div class="jumbotron jum">
<div class="wrapper">
    
    <div class="container2">
    
    </div>
        
            <h3 class="text-center">Phonebook</h3>

            <div >
                <div class="card" style="background-color: rgb(202, 215, 243);">
                  <div class="card-body" *ngFor="let list of phoneBookList"> 
                   
                    <h5 class="card-title"><i class="fa fa-user ">:</i>{{list.name}}</h5>
                        
                        

                    <h5 class="card-title"><i class="fa fa-envelope">:</i>{{list.email}}</h5>


                    <h5 class="card-title"> <i class="fa fa-phone">: </i> {{list.phone}}</h5>

                    <button type="button" class="fa fa-trash" (click)="contactToDelete(list.id)"></button>
                    <button type="button" class="fa fa-edit"></button>
                  </div>
              
                  </div>
                </div>
            </div>
              </div>

              <div>
                <footer class="bg-light text-center text-lg-start">
                    <!-- Copyright -->
                    <div class="text-center p-3" style="background-color: rgb(202, 215, 243);">
                      © 
                      <a class="text-dark" href="https://mdbootstrap.com/">Anathi</a>
                    </div>
                    <!-- Copyright -->
                  </footer>
            </div>
</html>




        